<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658295580909-643pcro00uih2n2rm119ill6033rrdtn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658295580909-643pcro00uih2n2rm119ill6033rrdtn</string>
	<key>API_KEY</key>
	<string>AIzaSyA8SqGOwTMcCBnyL-F6znaxTUFuOSs6bD4</string>
	<key>GCM_SENDER_ID</key>
	<string>658295580909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkemalarda.FirebaseInstaClone</string>
	<key>PROJECT_ID</key>
	<string>fir-instaclone-5be95</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-instaclone-5be95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658295580909:ios:886ec7c790ec5fa91004e4</string>
</dict>
</plist>